<template name='GameControl'>
  {{#if gameInProgress}}
    <input type=button id='leaveGame' value='Leave Game'>
    <section class="game-ui-flex">
      {{> Grid}}
      {{> Matches}}
    </section>
    {{else}}
    <h4 class='queue-message instruction-text'>
      Gridmatch is based on the turn-based card matching game commonly known as concentration. Each player takes a turn flipping two cards face up. If the cards match, they will add to their score and are removed from play. If the cards don't match, they are flipped back face down before the next turn. The only twists in this version are: Each matching pair has a score associated with them that is added to your total, should you make a match. Also, beware the "bomb" cards, as they will subtract points when accidentally matched. Enjoy!
    </h4><br>
    <input type=button id='newGame' value='Queue up a new game'>
    <h4 class='queue-message'>
      ... and wait for someone to challenge you. Or click on a queued game below to join someone else's game.
    </h4>
    {{#each gamesWaiting}}
      <p id='{{_id}}' class='waiting-queue'>
        <i class="fa fa-toggle-right"></i> Waiting for challenger (Game created at {{formatDate timestamp 'LT'}})
      </p>
    {{/each}}
    {{#unless gamesWaiting}}
      <h4 class='queue-message'>No games currently in queue! {{timestamp}}</h4>
    {{/unless}}
  {{/if}}
</template>
