
li.icon-1:before {
  /*github*/
  content: "\f09b";
  font-family: FontAwesome;
}

li.icon-2:before {
  /*bicycle*/
  content: "\f206";
  font-family: FontAwesome;
}

li.icon-3:before {
  /*binoculars*/
  content: "\f1e5";
  font-family: FontAwesome;
}

li.icon-4:before {
  /*bell*/
  content: "\f0a2";
  font-family: FontAwesome;
}

li.icon-5:before {
  content: "\f09b";
  font-family: FontAwesome;
}

li.icon-6:before {
  content: "\f09b";
  font-family: FontAwesome;
}

li.icon-7:before {
  content: "\f09b";
  font-family: FontAwesome;
}

li.icon-8:before {
  content: "\f09b";
  font-family: FontAwesome;
}

li.icon-9:before {
  content: "\f09b";
  font-family: FontAwesome;
}

li.icon-10:before {
  content: "\f09b";
  font-family: FontAwesome;
}

li.icon-11:before {
  content: "\f09b";
  font-family: FontAwesome;
}

li.icon-12:before {
  content: "\f09b";
  font-family: FontAwesome;
}

li.icon-13:before {
  content: "\f09b";
  font-family: FontAwesome;
}

li.icon-14:before {
  content: "\f09b";
  font-family: FontAwesome;
}

li.icon-15:before {
  content: "\f09b";
  font-family: FontAwesome;
}

li.icon-16:before {
  content: "\f09b";
  font-family: FontAwesome;
}

li.icon-17:before {
  content: "\f09b";
  font-family: FontAwesome;
}

li.icon-18:before {
  content: "\f09b";
  font-family: FontAwesome;
}

li.icon-19:before {
  content: "\f09b";
  font-family: FontAwesome;
}

li.icon-20:before {
  content: "\f09b";
  font-family: FontAwesome;
}
