//General Submit Buttons

input[type=submit]{
  background-color: $button-color;
  color: darken($main-bgc, 10%);
  font-size: 1rem;
  border-radius: $standard-border-radius;
  text-align: center;
  padding: 0.4rem 0.6rem;
  border-top: none;
  border-left: none;
  border-right: 0.13rem darken($button-color, 5%) solid;
  border-bottom: 0.13rem darken($button-color, 5%) solid;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

input[type=submit]:hover, input[type=submit]:focus{
  background-color: darken($button-color, 15%);
  color: darken($main-bgc, 20%);
  border-color: darken($button-color, 25%);
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}


//Game-size radio buttons
#new-game-form {
  // display: flex;
}

#new-game-form .form-spacing-two {
  height: 40px;
}

input[type="radio"].game-size, input[type="radio"].game-size + label {
  height: 100%;
  vertical-align: baseline;
}

input[type="radio"].game-size {
  // width: 0;
  opacity: 0;

  & + label {
    background-color: $button-color;
    color: darken($main-bgc, 10%);

    font-size: 1rem;
    border-radius: 5px;
    text-align: center;
    padding: 0.4rem 0.6rem;
    // margin: 1rem;
    margin-left: -20px;
    border-top: none;
    border-left: none;
    border-right: .13rem #86c5da solid;
    border-bottom: .13rem #86c5da solid;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
  }

  &:checked + label {
    background-color: #5b96a9;
    color: #242424;
    border-color: #44707f;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
  }
}
