


>>>>>>> 9b4a114816864f75e8220bc9fb5d731f615e0889:client/styles/main.css

.queue-message {
  color: $light-text;
  max-width: 700px;
}

.instruction-text {
  margin-top: 0.8rem;
  margin-bottom: 1.8rem;
  padding: 1rem;
  background: $transparent-black;
  border-radius: $standard-border-radius;
  border: 2px solid $light-text;
}
.instruction-text p {
  margin: 0.7em 0;
}

.instruction-text.no-queue {
  text-align: center;
  max-width: 440px;
  padding: 13px 8px 15px;
}

.waiting-queue{
  text-align: center;
  max-width: 440px;
  padding: 13px 8px 15px;
  background-color: $light-text;
  border-radius: $standard-border-radius;
  margin-bottom: 5px;
}
.waiting-queue:hover{
  background-color: darken($light-text, 10%);
  transition: background-color 0.5s;
}

/**Card Grid/Match-container Template Styling*/
.grid-container > ul {
  list-style-type: none;
  padding: 0;
}

.grid-container li, .scoreboard li {
  position: relative;
  box-sizing: content-box;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: $standard-border-radius;
  padding: 4px;
  margin: 4px 2px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.75rem;
  //background 'slide' animations
  background-size: 100% 200%;
  background-position: 0 0;
  background-image: linear-gradient(to bottom, $cardback-color 50%, $cardfront-color 50%);
  transition: background-position 0.3s, color 0.3s;
}

.icon {
  font-size: 1.8rem;
  position: relative;
  bottom: 5px;
}

.tiny-score {
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto 1px auto;
}

.scoreboard {
  background: $game-info-bgc;
  border-radius: $standard-border-radius;
  padding: 0;
  margin: 0;
}

li.turned-down {
  background: $cardback-color;
  color: $cardback-color;
  transition: background-color 0.3s, color 0.3s;
}

li.turned-up.player-1, li.turned-up.player-0 {
  color: $cardfront-color;
  background-position: 0 100%;
  transition: background-position 0.3s, color 0.3s;
}

li.turned-up.player-0 {
  background-image: linear-gradient(to bottom, $cardback-color 50%, $player0-color 50%);
}

li.turned-up.player-1 {
  background-image: linear-gradient(to bottom, $cardback-color 50%, $player1-color 50%);
}


/*Matches Template Styling*/
header.head-container {
  color: $cardback-color;
}

.game-control-container {
  width: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.grid-container {
  box-sizing: content-box;
  width: 600px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  margin: 0.8rem auto;
}

.match-container {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  background-color: $game-info-bgc;
  border-radius: $standard-border-radius;
  color: darken($main-bgc, 5%);
  padding: 0.5rem 1rem 0.8rem;
  min-height: 130px;
}

.match-container:first-of-type{
  margin-right: 1%;
}

.match-container h3{
  margin: 0;
  padding: 0.5rem 0 0.8rem;
}

.player0 {
  color: $player0-color;
  font-weight: bold;
}

.player1 {
  color: $player1-color;
  font-weight: bold;
}

.score {
  line-height: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
}

/*Flexbox layout setup for Game board*/
.game-ui-flex {
  max-width: 2000px;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
}

.grid-container{
  order: 2;
  -webkit-order: 2;
}

.scoreboard-p0, .scoreboard-p1{
  flex-basis: 10rem;
  -webkit-flex-basis: 10rem;
  align-self: center;
  -webkit-align-self: center;
  margin: 0.2rem auto 0.5rem;
}

.scoreboard-p0{
  order: 1;
  -webkit-order: 1;
}

.scoreboard-p1{
  order: 3;
  -webkit-order: 3;
}

.matches {
  order: 4;
  flex-basis: 100%;
  -webkit-order: 4;
  -webkit-flex-basis: 100%;
  text-align: center;
}

/*Media query to re-order flexbox Layout*/
@media(max-width: 975px) {
  .grid-container{
    flex-basis: 100%;
    order: 1;
    -webkit-flex-basis: 100%;
    -webkit-order: 1;
  }
  .grid-container ul {
    max-width: 600px;
    margin: auto;
  }
  .scoreboard-p0{
    order: 2;
    -webkit-order: 2;
  }
  .scoreboard-p1{
    order: 3;
    -webkit-order: 3;
  }
}

/*Modal window*/

.overlay {
  position: absolute;
  box-sizing: content-box;
  max-width: 700px;
  height: 230px;
  top: 30%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0.8rem auto;
  background: $transparent-black;
  border-radius: $standard-border-radius;
  z-index: 99999;
  opacity:50;
  border: 2px solid white;
  transition: opacity 4s;
}
.overlay-content {
  padding: 10px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: $light-text;
}
