html{
font-size: 100%;
}

body {
  background-color: #3f5467;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1em;
}

ul {
  list-style-type: none;
  padding: 20px;
  margin: 5px;
}

li {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 4px;
  margin: 4px 2px 4px 2px;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 1.75em;
}

div.tiny-score {
  font-size: 0.5em;
  margin-top: -7px;
}

.matches-container {
  width: 100px;
  display: inline;
}

.scoreboard {
  overflow: hidden;
  background: white;
  border-radius: 5px;
}

.waiting-queue {
  background: lightblue;
}

li.turned-down {
  background: lightblue;
}

li.turned-up.player-0 {
  background: indigo;
}

li.turned-up.player-1 {
  background: darkgreen;
}

header.head-container {
  color: lightblue;
}

section.content-container {
  overflow: hidden;
  width: 100%;
  
}

section.grid-container {
  width: 600px;
  float: left;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

section.game-control-container {
  float: right;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

footer.match-container {
  float: none;
}

.player1 {
  color: indigo;
  font-weight: bold;
}

.player2 {
  color: darkgreen;
  font-weight: bold;
}