ul {
  list-style-type: none;
  padding: 20px;
  margin: 5px;
}

li {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
  margin: 4px 2px 4px 2px;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 2em;
}

div.tiny-score {
  font-size: 0.5em;
}

.grid-container {
  width: 600px;
}

.matches-container {
  width: 100px;
  display: inline;
}

.waiting-queue {
  background: lightblue;
}

li.turned-down {
  background: lightblue;
}

li.turned-up.player-0 {
  background: indigo;
}

li.turned-up.player-1 {
  background: darkgreen;
}

header.head-container {
  
}

section.grid-container{
  float: left;
}

section.game-control-container {
  float:right;
}

footer.match-container {
  float: none;
}

.player1 {
  color: indigo;
  font-weight: bold;
}

.player2 {
  color: darkgreen;
  font-weight: bold;
}