/*Base*/
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  background-color: #3f5467;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1em;
  padding: 0 2% 1% 2%;
}

h1 {
  margin: 0.8rem 0;
}

input[type=button]{
  background-color: lightblue;
  color: #5C5C5C;
  font-size: 1rem;
  border-radius: 5px;
  text-align: center;
  padding: .4rem .6rem;
  border-top: none;
  border-left: none;
  border-right: .13rem #86c5da solid;
  border-bottom: .13rem #86c5da solid;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

input[type=button]:hover, input[type=button]:focus{
  background-color: #5b96a9;
  color: #242424;
  border-color: #44707f;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

/**Card Styling*/
.grid-container > ul {
  list-style-type: none;
  padding: 0;
}

li {
  box-sizing: content-box;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 4px;
  margin: 4px 2px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.75em;
  background-size: 100% 200%;
  background-position: 0 0;
  background-image: linear-gradient(to bottom, lightblue 50%, white 50%);
  transition: background-position 0.3s, color 0.3s;
}

.tiny-score {
  margin: 0;
  font-size: 0.5em;
}

.scoreboard {
  background: white;
  border-radius: 5px;
  padding: 0;
  margin: 0;
}

.waiting-queue {
  /*background: lightblue;*/
}

li.turned-down {
  background: lightblue;
  color: lightblue;
  transition: background-color 0.3s, color 0.3s;
}

li.turned-up.player-1, li.turned-up.player-0 {
  color: white;
  background-position: 0 100%;
  transition: background-position 0.3s, color 0.3s;
}

li.turned-up.player-0 {
  background-image: linear-gradient(to bottom, lightblue 50%, indigo 50%);
}

li.turned-up.player-1 {
  background-image: linear-gradient(to bottom, lightblue 50%, darkgreen 50%);
}


/*Module layout and styling*/
header.head-container {
  color: lightblue;
}

.game-control-container {
  width: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.grid-container {
  box-sizing: content-box;
  width: 600px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  margin: 0.8rem auto;
}

.match-container {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  background-color: white;
  border-radius: 5px;
  color: #5C5C5C;
  padding: 0.5rem 1rem;
}

.match-container h3{
  margin: 0;
  padding: 0.5rem 0 0.8rem;
}

.player1 {
  color: indigo;
  font-weight: bold;
}

.player2 {
  color: darkgreen;
  font-weight: bold;
}


/*Flexbox layout setup*/
.game-ui-flex {
  max-width: 2000px;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
}

.grid-container{
  order: 2;
  -webkit-order: 2;
}

.scoreboard-p0, .scoreboard-p1{
  flex-basis: 8rem;
  -webkit-flex-basis: 8rem;
  align-self: center;
  -webkit-align-self: center;
  padding: 10px;
  text-align: center;
  margin: 0.2rem auto 0.5rem;
}

.scoreboard-p0{
  order: 1;
  -webkit-order: 1;
}

.scoreboard-p1{
  order: 3;
  -webkit-order: 3;
}

.matches {
  order: 4;
  flex-basis: 100%;
  -webkit-order: 4;
  -webkit-flex-basis: 100%;
  text-align: center;
}


/*Media query to re-order flexboxes*/
@media(max-width: 915px) {
  .grid-container{
    flex-basis: 100%;
    order: 1;
    -webkit-flex-basis: 100%;
    -webkit-order: 1;
  }
  .grid-container ul {
    max-width: 600px;
    margin: auto;
  }
  .scoreboard-p0{
    order: 2;
    -webkit-order: 2;
  }
  .scoreboard-p1{
    order: 3;
    -webkit-order: 3;
  }
}


/*Make blink animation!*/
.alert-blink {
  /*display: inline-block;*/
  color: red;
  animation: color 1s infinite;
  animation-direction: alternate;
  animation-name: alert-blink;
  -moz-animation: color 1s infinite;
  -moz-animation-direction: alternate;
  -moz-animation-name: alert-blink;
  -webkit-animation: color 1s infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-name: alert-blink;
}

@keyframes alert-blink {
  to {
    color: orange;
  }
}
@-webkit-keyframes alert-blink {
  to {
    color: orange;
  }
}
@-moz-keyframes alert-blink {
  to {
    color: orange;
  }
}
