<template name='Matches'>
  {{#with scoreBoard}}

    {{#if your.url}}
      <section class='overlay'>
        <div class='overlay-content'>
          <h2 class='alert-blink'>Waiting for Challenger!</h2>
          <h3 >To invite someone to play with you, copy and send them this link:</h3>
          <p class='alert-blink'>{{your.url}}</p>
          <p> Your game will start when an opponent joins.</p>
        </div>
      </section>
    {{/if}}

    <section class="scoreboard scoreboard-p0">
      <div class="score player{{my.playerIdx}} {{whoseTurn my.turn}}">
        {{my.name}}: {{my.score}}
      </div>
    </section>
    <section class="scoreboard scoreboard-p1">
      <div class="score player{{your.playerIdx}} {{whoseTurn your.turn}}">
        {{your.name}}: {{your.score}}
      </div>
    </section>

    <div class="matches">
      <section class='match-container my-matches'>
        <h3>My Matches</h3>
        <ul class="scoreboard">
          {{#each my.matches}}
            <li id='grid-{{idx}}' class='{{class}}'>
              <div class='icon icon-{{val}}'></div>
              <div class='tiny-score'>{{score}}</div>
            </li>
          {{/each}}
        </ul>
      </section>
      <section class='match-container your-matches'>
        <h3>Opponent's Matches</h3>
        <ul class="scoreboard">
          {{#each your.matches}}
            <li id='grid-{{idx}}' class='{{class}}'>
              <div class='icon icon-{{val}}'></div>
              <div class='tiny-score'>{{score}}</div>
            </li>
          {{/each}}
        </ul>
      </section>
    </div>

  {{/with}}
</template>
